/* Space out content a bit */
body {
  padding-top: 80px;
  padding-bottom: 20px;
}

.progress-block{
    padding-top: 10px;
}
.progress-block.left {
    border-right: 1px solid #222222;
}

.progress-block.right {
    border-left: 1px solid #222222;
}

.progress-block img{
    width: 70px;
}

.footer {
    margin-top: 40px;
}

.progress {
    margin-top: 8px;
}

.package-title .label {
    margin-top: 8px;
    display: inline-block;
}

.package-container .item{
    border-right: 1px solid #222;
}

.package-container .item:last-child {
    border-right: 0px;
}

.package-container .item img{
    width: 68px;
}

.package-container .item textarea {
    margin-top: 10px;
    width: 100%;
}

