<ol class="breadcrumb">
    <li><a ng-href="/">Главная</a></li>
    <li class="active">Список документов</li>
</ol>

<div class="row">
    <div class="container">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Все</button>
            <button type="button" class="btn btn-default">Черновики</button>
            <button type="button" class="btn btn-default">Готовые</button>
        </div>

        <div class="input-group col-md-3 pull-right">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" class="form-control" placeholder="Поиск...">
        </div>

    </div>
</div>

<div class="row">
    <div class="container">
        <br/>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Пользователь</th>
                    <th>Дата создания</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a ng-href="">Пакет 1</a></td>
                    <td>Белокурский Вячеслав</td>
                    <td>05-02-2014</td>
                    <td><span class="label label-success">Готов</span></td>
                </tr>
                <tr>
                    <td><a ng-href="">Пакет 2</a></td>
                    <td>Белокурский Вячеслав</td>
                    <td>06-02-2014</td>
                    <td><span class="label label-default">На проверку</span></td>
                </tr>
                <tr>
                    <td><a ng-href="">Пакет 3</a></td>
                    <td>Белокурский Вячеслав</td>
                    <td>05-02-2014</td>
                    <td><span class="label label-success">Готов</span></td>
                </tr>
                <tr>
                    <td><a ng-href="">Пакет 4</a></td>
                    <td>Белокурский Вячеслав</td>
                    <td>06-02-2014</td>
                    <td><span class="label label-default">На проверку</span></td>
                </tr>
                <tr>
                    <td><a ng-href="">Пакет 5</a></td>
                    <td>Белокурский Вячеслав</td>
                    <td>05-02-2014</td>
                    <td><span class="label label-success">Готов</span></td>
                </tr>
                <tr>
                    <td><a ng-href="">Пакет 6</a></td>
                    <td>Белокурский Вячеслав</td>
                    <td>06-02-2014</td>
                    <td><span class="label label-default">На проверку</span></td>
                </tr>
            </tbody>
        </table>

        <ul class="pagination pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>