<ol class="breadcrumb">
    <li><a ng-href="/">Главная</a></li>
    <li><a ng-href="/">Список пакетов</a></li>
    <li class="active">Редактирование пакета</li>
</ol>


<div class="row package-title">
    <form class="form-horizontal col-md-6" role="form">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Название</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="inputEmail3" value="Пакет докуметов 1">
            </div>
        </div>
    </form>
</div>

<hr/>

<div class="row package-container">
    <div class="col-md-4 item">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge"><i class="glyphicon glyphicon-remove-circle"></i></span>
                Документ 1
            </li>
            <li class="list-group-item">
                <span class="badge badge-success"><i class="glyphicon glyphicon-remove-circle"></i></span>
                Документ 2
            </li>
            <li class="list-group-item">
                <span class="badge badge-success"><i class="glyphicon glyphicon-remove-circle"></i></span>
                Документ 3
            </li>
            <li class="list-group-item">
                <span class="badge badge-success"><i class="glyphicon glyphicon-remove-circle"></i></span>
                Документ 4
            </li>
            <li class="list-group-item">
                <span class="badge badge-success"><i class="glyphicon glyphicon-remove-circle"></i></span>
                Документ 5
            </li>
        </ul>
    </div>
    <div class="col-md-4 item">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge"><i class="glyphicon glyphicon-remove-circle"></i></span>
                Документ 1
            </li>
            <li class="list-group-item">
                <span class="badge badge-success"><i class="glyphicon glyphicon-remove-circle"></i></span>
                Документ 2
            </li>
            <li class="list-group-item">
                <span class="badge badge-success"><i class="glyphicon glyphicon-remove-circle"></i></span>
                Документ 3
            </li>
            <li class="list-group-item">
                <span class="badge badge-success"><i class="glyphicon glyphicon-remove-circle"></i></span>
                Документ 4
            </li>
            <li class="list-group-item">
                <span class="badge badge-success"><i class="glyphicon glyphicon-remove-circle"></i></span>
                Документ 5
            </li>
        </ul>
    </div>
    <div class="col-md-4 item">
        <a ng-href="">Добавить документ</a>
    </div>
</div>

<hr/>

<h4>Участники</h4>

<div class="row members">
    <div class="col-md-4">
        <div class="col-md-12 item">
            <img src="/images/src/no-avatar-male.jpg" alt="" class="img-circle col-sm-4">
            <p class="col-sm-8">Петр Петров <a ng-href="" class="pull-right"><i class="glyphicon glyphicon-remove-circle"></i></a> </p>
        </div>
        <div class="col-md-12 item">
            <img src="/images/src/no-avatar-male.jpg" alt="" class="img-circle col-sm-4">
            <p class="col-sm-8">Василий Федоров <a ng-href="" class="pull-right"><i class="glyphicon glyphicon-remove-circle"></i></a></p>
        </div>
        <div class="col-md-12 item">
            <img src="/images/src/no-avatar-female.jpg" alt="" class="img-circle col-sm-4">
            <p class="col-sm-8">Анастасия Поклонная <a ng-href="" class="pull-right"><i class="glyphicon glyphicon-remove-circle"></i></a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12 item">
            <img src="/images/src/no-avatar-male.jpg" alt="" class="img-circle col-sm-4">
            <p class="col-sm-8">Евгений Конопатый <a ng-href="" class="pull-right"><i class="glyphicon glyphicon-remove-circle"></i></a></p>
        </div>
        <div class="col-md-12 item">
            <img src="/images/src/no-avatar-male.jpg" alt="" class="img-circle col-sm-4">
            <p class="col-sm-8">Владимир Данилович <a ng-href="" class="pull-right"><i class="glyphicon glyphicon-remove-circle"></i></a></p>
        </div>
    </div>
    <div class="col-md-2">
        <a ng-href="">Добавить участника</a>
    </div>
</div>

<div class="row text-right">
    <a ng-href="/#/package/1" class="btn btn-default">Назад</a>
    <a ng-href="" class="btn btn-primary">Сохранить</a>
</div>