<h3 class="text-center">23 Марта</h3>

<div class="row">
    <div class="col-md-6 progress-block left">
        <p class="col-sm-8 col-sm-offset-2">Владимир добавил новый документ в пакет докуметов "Пакет 1"</p>
        <img src="/images/no-avatar-male.jpg" alt="" class="img-circle col-sm-4">
    </div>
</div>
<div class="row">
    <div class="col-md-6 progress-block left">
        <p class="col-sm-8 col-sm-offset-2">Николай добавил новый документ в пакет докуметов "Пакет 2"</p>
        <img src="/images/no-avatar-male.jpg" alt="" class="img-circle col-sm-4">
    </div>
</div>


<h3 class="text-center">24 Марта</h3>

<div class="row">
    <div class="col-md-6 col-md-offset-6 progress-block right">
        <img src="/images/no-avatar-male.jpg" alt="" class="img-circle col-sm-4">
        <p class="col-sm-8">Владимир добавил новый документ в пакет докуметов "Пакет 1"</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-6  progress-block right">
        <img src="/images/no-avatar-male.jpg" alt="" class="img-circle col-sm-4">
        <p class="col-sm-8">Николай добавил новый документ в пакет докуметов "Пакет 2"</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-6  progress-block right">
        <img src="/images/no-avatar-male.jpg" alt="" class="img-circle col-sm-4">
        <p class="col-sm-8">Николай добавил новый документ в пакет докуметов "Пакет 2"</p>
    </div>
</div>

<h3 class="text-center">25 Марта</h3>

<div class="row">
    <div class="col-md-6 progress-block left">
        <p class="col-sm-8 col-sm-offset-2">Владимир добавил новый документ в пакет докуметов "Пакет 1"</p>
        <img src="/images/no-avatar-male.jpg" alt="" class="img-circle col-sm-4">
    </div>
</div>
<div class="row">
    <div class="col-md-6 progress-block left">
        <p class="col-sm-8 col-sm-offset-2">Николай добавил новый документ в пакет докуметов "Пакет 2"</p>
        <img src="/images/no-avatar-male.jpg" alt="" class="img-circle col-sm-4">
    </div>
</div>